@import '../../index.scss';

.blurb {
  @extend .margin-left;
  @extend .pad-horizontal;
  @extend .border;
  @extend .transition-color;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;

  &:hover {
    border-color: $colorBright;
    color: $colorBright;
  }

  &.active {
    border-color: $colorBrighter;
    color: $colorBrighter;
  }

}
