@import '../../index.scss';

.background-progress-bar {

  position: relative;
  transition: background-color .1s linear;

  .progress-bar-unfilled {
    @extend .position-absolute;
    @extend .height-full;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    right: 0px;
  }

  .foreground {
    @extend .full;
    z-index: 2;
  }

}
