$space: 18px;
$spaceSmall: 8px;
$containerWidth: 800px;

$colorBright: #ccc;
$colorBrighter: #eee;
$colorDefault: #aaa;
$colorMuted: #333;
$colorSuccess: #51A351;
$colorWarning: #F89406;
$colorError: #BD362F;
$colorInfo: #0088CC;

$border: 1px solid $colorMuted;

* {
  box-sizing: border-box !important;
  @extend .text-medium;
  @extend .overflow-hidden;
}

body {
  @extend .text-default;
  font-weight: 1000;
  background-color: black;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.25em;
  font-family: 'alphanum20';
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .8);
}

.block-center {
  margin: 0px auto;
}

.bg-darkest {
  background-color: rgba(0, 0, 0, .9);
}


.bg-dark {
  background-color: rgba(0, 0, 0, .6);
}

.bg-medium {
  background-color: rgba(0, 0, 0, .5);
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 4px 0px;
}

.pad-top {
  padding-top: $space;
}

.pad-left {
  padding-left: $space;
}

.pad-bottom {
  padding-bottom: $space;
}

.pad-right {
  padding-right: $space;
}

.pad {
  padding: $space;
}

.pad-vertical {
  @extend .pad-top;
  @extend .pad-bottom;
}

.pad-horizontal {
  @extend .pad-left;
  @extend .pad-right;
}

.pad-horizontal-if-narrow {
  @media(max-width: $containerWidth + $space) {
    @extend .pad-horizontal;
  }
  @media(min-width: $containerWidth + $space) {
    padding-left: 0;
    padding-right: 0;
  }
}

.pad-small-top {
  padding-top: $spaceSmall;
}

.pad-small-left {
  padding-left: $spaceSmall;
}

.pad-small-bottom {
  padding-bottom: $spaceSmall;
}

.pad-small-right {
  padding-right: $spaceSmall;
}

.pad-small {
  padding: $spaceSmall;
}

.pad-small-vertical {
  @extend .pad-small-top;
  @extend .pad-small-bottom;
}

.pad-small-horizontal {
  @extend .pad-small-left;
  @extend .pad-small-right;
}

.margin-horizontal {
  @extend .margin-left;
  @extend .margin-right;
}

.margin-left {
  margin-left: $space;
}

.margin-right {
  margin-right: $space;
}

.margin-bottom {
  margin-bottom: $space;
}

.margin-horizontal-if-narrow {
  @media(max-width: $containerWidth + $space) {
    @extend .margin-horizontal;
  }
  @media(min-width: $containerWidth + $space) {
    margin-left: 0;
    margin-right: 0;
  }
}


.border-top {
  border-top: $border;
}

.border-bottom {
  border-bottom: $border;
}

.border {
  border: $border;
}

.height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-third {
  width: 33.33%;
}

.full {
  @extend .height-full;
  @extend .width-full;
}

.container {
  max-width: $containerWidth;
  margin: 0px auto;
}

.flex {
  display: flex;
  & > * {
    @extend .flex-no-change;
  }
}

.flex-rows {
  @extend .flex;
  flex-direction: column;
}

.flex-columns {
  @extend .flex;
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1 !important;
}

.flex-shrink {
  flex-shrink: 1 !important;
}

.flex-change {
  @extend .flex-grow;
  @extend .flex-shrink;
}

.flex-no-change {
  flex-shrink: 0;
  flex-grow: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 16px;
}

.text-large {
  font-size: 20px;
}

.text-muted {
  color: $colorMuted;
}

.text-default {
  color: $colorDefault;
}

.text-bright {
  color: $colorBright;
}

.text-brighter {
  color: $colorBrighter;
}

.text-brighter-on-hover {
  // @extend .transition-color;
  &:hover {
    color: $colorBrighter;
  }
}

.clickable {
  @extend .text-brighter-on-hover;
  @extend .cursor-pointer;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-ellipsis {
  @extend .overflow-hidden;
  @extend .nowrap;
  text-overflow: ellipsis;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.cursor-pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.display-inline-block {
  display: inline-block;
}

.display-none {
  display: none;
}

.transition-color {
  transition: color 0.5s ease-out;
}

.transition-background-color {
  transition: background-color 0.5s ease-in-out;
}

.transition-border-color {
  transition: border-color 0.5s ease-out;
}

.transition {
  @extend .transition-color;
  @extend .transition-background-color;
  @extend .transition-border-color;
}

.theme {
  color: white;
}
.theme-info {
  background-color: $colorInfo;
}
.theme-error {
  background-color: $colorError;
}
.theme-warning {
  background-color: $colorWarning;
}
.theme-success {
  background-color: $colorSuccess;
}
