@import '../../index.scss';

.notifications {
  @extend .full;
  @extend .position-absolute;
  background-color: black;
  color: white;
  z-index: 1000;
  top: 0;
  left: 0;

  &[notification-type="success"] {
    background-color: $colorSuccess;
  }

  &[notification-type="info"] {
    background-color: $colorInfo;
  }

  &[notification-type="warning"] {
    background-color: $colorWarning;
  }

  &[notification-type="error"] {
    background-color: $colorError;
  }
}
